*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .example{
    width: 20%;
    height: 200px;
    border: 2px solid black;
} */
.one{
    width: 100px;
    height: 100px;
    background-color: blue;
    padding: 6px;
    position: fixed;
    left: 450px;
    top: 100px;
}
.two{
    width: 100px;
    background-color: red;
    padding: 7px;
    position: relative;
    top: 93px;
}
/* .child > p > a{
    color: red;
    text-decoration: none;
    font-size: 30px;
} */