*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.firstbackground{
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.55);
    background-image: url(istockphoto-1319189527-612x612.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
}
.narvbar{
    width: 100%;
    height: 60px;
    /* background-color: black; */
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
}
.one{
    font-size: 20px;
}
.firsttext{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 6%;
    padding-left: 10%;
    color: white;
    font-family: sans-serif;
}
.buttonn{
    width: 100%;
    height: 50px;
    /* background-color: blueviolet; */
    /* padding-left: 10%; */
}
.email{
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;

}
.email >input{
    width: 80%;
    height: 80%;
    border: none;
    outline: none;
}
.email >button{
    width: 25%;
    height: 80%;
    background-color: rgb(253,82,13);
    border: none;
    color: white;
    margin-right: 4%;
}
.secondbackground{
    width: 100%;
    height: 300px;
    background-color: rgb(253,82,13);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;

   
}
.backgroundone{
    width: 30%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}
.icon{
    width: 30%;
    height: 30%;
    /* border: 1px solid black; */
    color: white;
    font-size: 50px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    width: 100%;
    height: 40%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 11px;
    gap: 3%;
}
.thirdbackground{
    width: 100%;
    height: 350px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.timage{
    width: 40%;
    height: 60%;
    background-image: url(smiling\ girl..jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.553);
    font-size: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.thirdbackground >h3{   
    margin-bottom: 1%;
    font-size: 15px;
}
.thirdbackground >p{
    font-size: 10px;
    color: rgb(132, 129, 129);
    padding-top: 1%;
}
.fourthbackground{
    width: 100%;
    height: 80px;
    background-color: rgb(253,82,13);
    display: flex;
    justify-content: space-around;
    align-self: center;
    background-size: cover;

}
.oned{
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}
.fifthbackground{
    width: 100%;
    height: 350px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6%;
}  
.fifthbackground >i{
    font-size: 100px;
    color: rgb(228, 223, 223);
}
.fifthbackground >p{
    font-weight: 8px;
    text-align: center;
}
.fifthbackground >img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
span{
    color:rgb(253,82,13) ;
}
.lastbackground{
    width: 100%;
    height: 250px;
    /* background-color: blue; */
    background-image: url(depositphotos_12778070-stock-photo-woman-relaxing-on-sofa-using.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    justify-content: center;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 5%;
    background-color: rgba(0, 0, 0, 0.539);
    background-blend-mode: darken;
    color: white;
}
.home{
    width: 250px;
    height: 40px;
    background-color: white;

}
.home >button{
    width: 120px;
    height: 30px;

}
.lastbackground >p{
    font-size: 20px;
    text-transform: uppercase;

}