*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.background{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
}
.backgroundimage{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 15%;
    /* background-color: brown; */
    background-image: url(smiling\ girl..jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: sans-serif;
}
.narvbar{
    width: 100%;
    height: 15%;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.textone{
    width: 200px;
    height: 50px;
    /* background-color: blue; */
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.texttwo{
    width: 700px;
    height: 60px;
    /* background-color: blue; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectiontwo{
    width: 100%;
    height: 50%;
    background-color: orangered;
}
.textthree{
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
    margin-left: 5%;

}
.textthree >p{
    font-size: 13px;
    padding-bottom: 10px;

}
button{
    width: 100px;
    height: 35px;
    /* background-color: orangered; */
    border: none;
    background-color: orangered;
    color: white;
}
.firstrow{
    width: 100%;
    height: 200px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: flex;
    border-bottom: 1px solid white;
    
    
}
.number{
    width: 300px;
    height: 150px;
    /* border: 1px solid blue; */
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    /* color: red; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.number >p{
    color: white;
    text-align: center;

}
.lasttext{
    width: 100%;
    height: 40px;
    /* border: 1px solid white; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}